.DS_Store
.cache/
.env
.env.*
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
build/
benchmark-results/
dist/
htmlcov/
site/
wheelhouse/
*.egg-info/
*.py[cod]
__pycache__/
python/pybetterleaks/native/*.dll
python/pybetterleaks/native/*.dylib
python/pybetterleaks/native/*.h
python/pybetterleaks/native/*.so
